/* -----*/
/* Base */
/* -----*/
* {
	padding: 0;
	margin: 0;
}			
html, body {
	height: 100%;
}
body {
	background:#F6F6F6;
}		
a {
	cursor: pointer;
	text-decoration: none;
}

/* ----------------*/
/* Template Layout */
/* ----------------*/
#page {
	width: 962px;
	position: relative;
	background: #fff;
	margin: 0 auto; 
	min-height: 100%;
}
* html #page {
	height: 100%;	
}
#header {
	height: 30px;
	padding: 5px;
	border-top: none; 
	border-left: none; 
	border-right: none;	
}
#navigator {
	float: left;
	width: 200px;
	height: 100%;
}
#content {
	margin: 40px 5px 10px 5px;
}
#rightpane {
	float: left;
	width: 170px;
}

#leftpane {
	margin-bottom: 30px;
	float: right;
	width: 770px;
}
#footer {
	position: absolute;
	width: 962px;
	height: 20px;
	bottom: 0;
	border-bottom: none; 
	border-left: none; 
	border-right: none;		
	font-size: 0.8em;	
}
#copyright {
	margin-top: 3px;
	margin-left: 5px;
	font-style: normal;
}

/* ------------*/
/* App Element */
/* ------------*/
.ui-app-header {
	height: 30px;
}
.ui-app-title {
	float: left; 
	font-size: 1.2em; 
	color: #459e00; 
	font-weight: bold; 
	margin-top: 6px;		
	height: 30px;
}    

.ui-app-command {
	float: right	
}

/* -------------*/
/* Form Element */
/* -------------*/
.ui-form {
	padding: 10px 10px 10px 10px;
}

.ui-form-button {
	float: right; 
	padding-top: 10px;
	padding-bottom: 10px; 
	padding-right: 10px;
}

/* ------------------*/
/* Wireframe Element */
/* ------------------*/
.ui-wireframe {
	
}
.ui-wireframe .ui-widget-header {
	padding: 3px 10px 3px 10px; 
	border-bottom: none;
}
.ui-wireframe .ui-widget-content {
	padding: 10px 10px;
}

/* ------------------*/
/* Sortable Elements */
/* ------------------*/
.ui-sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
.ui-sortable li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1em; 
	height: 18px; 
}
.ui-sortable span { 
	position: absolute; 
	margin-left: -1.3em; 
}	

/* --------------------*/
/* Table Form Elements */
/* --------------------*/
table.table_form {
	border-spacing: 0px 0px;
	-moz-border-radius-topleft: 4px; 
	-webkit-border-top-left-radius: 4px; 
	border-top-left-radius: 4px; 
	-moz-border-radius-topright: 4px; 
	-webkit-border-top-right-radius: 4px; 
	border-top-right-radius: 4px; 
	-moz-border-radius-bottomleft: 4px; 
	-webkit-border-bottom-left-radius: 4px; 
	border-bottom-left-radius: 4px; 
	-moz-border-radius-bottomright: 4px; 
	-webkit-border-bottom-right-radius: 4px; 
	border-bottom-right-radius: 4px;
}

table.table_form thead th {
	-moz-border-radius-topleft: 4px; 
	-webkit-border-top-left-radius: 4px; 
	border-top-left-radius: 4px; 
	-moz-border-radius-topright: 4px; 
	-webkit-border-top-right-radius: 4px; 
	border-top-right-radius: 4px; 
	background: #f6a828 url(theme/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
}

table.table_form tfoot td {
	-moz-border-radius-bottomleft: 4px; 
	-webkit-border-bottom-left-radius: 4px; 
	border-bottom-left-radius: 4px; 
	-moz-border-radius-bottomright: 4px; 
	-webkit-border-bottom-right-radius: 4px; 
	border-bottom-right-radius: 4px;
	background: #f6a828 url(theme/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
}

table.table_form td {
	padding: 5px 5px 5px 5px;
}

table.table_form td.label {
	text-align: right;
	width: 1%;
}

table.table_form td.component {
	width: 1%;
}

table.table_form td.error {
	width: 98%;
}

table.table_form td.alert {
	padding: 10px 10px 10px 10px;
}

/* --------------------*/
/* Table Form Elements */
/* --------------------*/

table.simple_table {
	background-color: #f3f3f3;		
}

table.simple_table td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;	
}

/* -------------*/
/* Menu Element */
/* -------------*/
.ui-main-menu, .ui-main-menu dt, .ui-main-menu dd, .ui-main-menu ul, .ui-main-menu li {
	margin: 0;
	padding: 0
}
.ui-main-menu dt,
.ui-main-menu h4 {
	color: #459e00;
    font-weight: bold;
	margin-bottom: 0;
	padding-left: 8px;
	padding-bottom:5px;
	line-height: 1.2em;
	border-bottom: 1px solid #dfd9c3;	
	margin-top: 6px;
}
.ui-main-menu dd a,
.ui-main-menu li a {
	border-bottom: 1px solid #dfd9c3;
	display:block;
	padding: 4px 3px 4px 8px;
	font-size: 90%;
	text-decoration: none;
	color: #312e25 ;
	margin:2px 0;
	height:13px;
}
.ui-main-menu dd a:hover,
.ui-main-menu dd a:focus,
.ui-main-menu dd a:hover,
.ui-main-menu dd a:focus {
	background: #fafaf4;
	color:#000;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.ui-main-menu dd a.selected {
	background: #555;
	color:#ffffff;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
}

/* ---------------------*/
/* Context Menu Element */
/* ---------------------*/
.ui-context-menu, .ui-context-menu dt, .ui-context-menu dd, .ui-context-menu ul, .ui-context-menu li {
	margin: 0;
	padding: 0
}
.ui-context-menu dt,
.ui-context-menu h4 {
    font-weight: bold;
	margin-bottom: 0;
	margin-top: 2px;
	padding-left: 8px;
	padding-bottom:1px;
	line-height: 1.2em;
	padding-right: 8px;			

}
.ui-context-menu dd a,
.ui-context-menu li a {
	display:block;
	padding: 4px 3px 4px 8px;
	font-size: 90%;
	text-decoration: none;
	color: #312e25 ;
	margin:2px 0;
	height:13px;
}


.ui-context-menu dd a:hover,
.ui-context-menu dd a:focus,
.ui-context-menu dd a:hover,
.ui-context-menu dd a:focus {
	background: #ffffff;
	color:#000;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
}
 .ui-context-menu dd a.selected {
	background: #555;
	color:#ffffff;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
}	

/* -------------------*/
/* File Input Element */
/* -------------------*/
.file-input-wrapper {
    overflow: hidden;
    position: relative;
}
.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.file-input-wrapper > .btn-file-input {
    display: inline-block;
}
.file-input-wrapper:hover > .btn-file-input {
    background-color: #aaa;
}

/* -------*/
/* Others */
/* -------*/
.icon-color-red {
	color: #9d261d;
}
.highlighted {
	background: #fcf0ba;
	border-spacing: 0px 0px;
	-moz-border-radius-topleft: 4px; 
	-webkit-border-top-left-radius: 4px; 
	border-top-left-radius: 4px; 
	-moz-border-radius-topright: 4px; 
	-webkit-border-top-right-radius: 4px; 
	border-top-right-radius: 4px; 
	-moz-border-radius-bottomleft: 4px; 
	-webkit-border-bottom-left-radius: 4px; 
	border-bottom-left-radius: 4px; 
	-moz-border-radius-bottomright: 4px; 
	-webkit-border-bottom-right-radius: 4px; 
	border-bottom-right-radius: 4px;
}
.ui-feedback {
	height: 18px; 
	padding-left: 5px;
	margin-bottom: 5px;	
}
/* override jquery ui style */
.ui-button-text {
   font-size: .8em !important;
} 
ul.errorlist {
	list-style-type: none;
	font-size: .8em;
	color: #b81900;
}
.error {
	display: block;
	padding-left: 80px;
}

/* ----------*/
/* Utilities */
/* ----------*/
.clear {
	clear: both;
}
.hide {
	display: none;
}
.display_inline {
	display: inline;
}
.bold {
	font-weight: bold;
}

.floatl {
	float: left;
}
.floatr {
	float: right;
}
.widthfull {
	width: 100%;
}
.centered {
	margin-left: auto; margin-right: auto
}
.margin_top_default {
	margin-top: 10px;
}
.margin_bottom_default {
	margin-bottom: 10px;
}
.margin_l_default {
	margin-left: 10px;
}

.margin_right_default {
	margin-right: 10px;
}
.margin_lr_default {
	margin-left: 10px;
	margin-right: 10px;
}
.margin_lr_double {
	margin-left: 20px;
	margin-right: 20px;
}
.margin_top_double {
	margin-top: 20px;	
}
.margin_r_double {
	margin-right: 20px;
}
.margin_l_double {
	margin-left: 20px;
}
.margin_auto {
	margin-right: auto;
	margin-left: auto;
}
.margin_min {
	margin: 5px 5px 5px 5px;
}
.margin_min_top {
	margin-top: 5px;
}
.margin_min_bottom {
	margin-bottom: 5px;
}
.margin_min_right {
	margin-right: 5px;
}
.margin_min_left {
	margin-left: 5px;
}
.margin_min_lr {
	margin-left: 5px;
	margin-right: 5px;
}
.font_min {
	font-size: .8em;
}
.padding_default {
	padding: 10px 10px 10px 10px;
}
.padding_min {
	padding: 5px 5px 5px 5px;
}


